<h1> {{name}}</h1>
<h4><mark>{{collegename}} </mark>Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
     <mark>{{collegename}} </mark> Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
     <mark>{{collegename}} </mark> Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
     <mark>{{collegename}} </mark> Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
     <mark>{{collegename}} </mark> Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
    
     <mark>{{collegename}} </mark>Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
     <mark>{{collegename}} </mark> Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
     <mark>{{collegename}} </mark>Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
     <mark>{{collegename}} </mark> Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
     <mark>{{collegename}} </mark> Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
    
     <mark>{{collegename}} </mark> Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
     <mark>{{collegename}} </mark> Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
     <mark>{{collegename}} </mark> Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
     <mark>{{collegename}} </mark> Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
     <mark>{{collegename}} </mark> Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
    
     <mark>{{collegename}} </mark>Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
     <mark>{{collegename}} </mark> Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
     <mark>{{collegename}} </mark> Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
     <mark>{{collegename}} </mark>Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
     <mark>{{collegename}} </mark>Hyderabad, officially the Koneru Lakshmaiah
     Education Foundation,is NAAC accredited A++ 
     4Grade and UGC Category 1 recognized deemed 
     university ...
    
    
    </h4>