<h4>
     <mark>{{collegename}} </mark>Hyderabad, 
</h4>
<hr> 

priciple : <input type="text" #p><br>
ROI  : <input type="text" #r><br>
TIME  : <input type="text" #t><br>
TOTAL : <input type="text" value={{total}} ><br>
EMI  : <input type="text" value={{emi}} ><br>
<input type="submit" value="SEND" (click)="abc(p.value,r.value,t.value)">

<hr> 

FIRST NAME :  <input type="text" #fn>
LAST NAME : <input type="text" #ln>
FULL NAME : <input type="text" value={{fname}}>

<input type="submit" (click)="fullname(fn.value,ln.value)" >
